html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 15vh;
    overflow-x: hidden
}

body {
    background: linear-gradient(to bottom, rgba(227, 218, 218, .6), rgba(255, 255, 255, .6) 100%)
}

html {
    --scrollbarBG: #cec2c2;
    --thumbBG: #6A6A6A
}

body::-webkit-scrollbar {
    width: 16px
}

body {
    scrollbar-width: thick;
    scrollbar-color: var(--scrollbarBG)
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG)
}

body::-webkit-scrollbar-thumb {
    background: #b6ab97;
    border-radius: 6px
}

header {
    margin: 0 20px;
    position: relative;
    max-height: 100%
}

.logo {
    opacity: 1;
    width: 175px;
    height: 101px
}

.main-nav {
    padding: 5px 0;
    margin: 0;
    float: right
}

.main-nav li {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(255, 255, 255, .5)
}

.main-nav a {
    padding: 0 20px;
    display: inline-block;
    color: rgba(11, 18, 29, .7);
    text-decoration-line: none !important
}

.main-nav a:hover {
    color: #b6ab97
}

.main-nav a.active {
    color: #b6ab97
}

.home-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    min-height: 80vh
}

.contact-container,
.projects-container {
    min-height: 60vh
}

.about-content p {
    max-width: 90%
}

.project-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 5vh 0
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    animation-delay: 26s
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-20px)
    }

    60% {
        transform: translateY(-15px)
    }
}

.home-container,
.inner-container,
.project-container,
.projects-container,
header {
    z-index: 1
}

.brder {
    border-top: #cec2c2 16px solid;
    border-bottom: #cec2c2 16px solid;
    border-left: #cec2c2 16px solid;
    border-right: none !important
}

.home {
    min-height: 100vh;
    border-top: #cec2c2 16px solid;
    border-bottom: #cec2c2 16px solid;
    border-left: #cec2c2 16px solid;
    z-index: 2
}

.home.resp-shading:after,
.projects.resp-shading::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0
}

h1.project-title {
    margin-bottom: 40px
}

h1.abt-title,
h1.contact-title,
h1.project-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #6a6a6a;
    font-weight: 700
}

h1.abt-title,
h1.contact-title,
h1.project-title {
    font-size: 3em
}

h1.abt-title {
    padding-bottom: 20px
}

#error_message>p.contact-text,
#intial_message>p.contact-text,
#success_message>p.contact-text,
.contact-label,
p.abt-text,
p.project-text {
    color: #6a6a6a;
    font-family: Merriweather, serif
}

input[type=text],
input[type=email],
.form-control {
    color: #6a6a6a !important;
    font-family: Merriweather, serif
}

#error_message,
#success_message {
    padding-top: 12vh;
    text-align: center;
}

.builtwith-text {
    color: #ada28c;
    font-family: Merriweather, serif;
    font-weight: bolder;
    padding: 15px 0
}

a.builtwith-text:hover {
    color: #370256;
    text-decoration: none
}

.tech-names {
    color: #6a6a6a;
    font-style: italic;
    font-weight: 700;
    line-height: 2em
}

p.abt-text {
    line-height: 1.8em;
    font-size: 1.2em;
    position: relative
}

.home-container .row .col-lg-6:first-child {
    padding-right: 3em
}

#splash-video {
    min-width: 100%
}

.skills {
    background-color: #000;
    position: relative;
    min-height: 50vh;
    padding-bottom: 50px;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.skills-title {
    color: #ada28c;
    padding: 60px 0 30px 0;
    font-size: 3em
}

.skills-h3 {
    color: #ededef;
    font-weight: 700;
    font-family: Merriweather, serif;
    padding-top: 30px
}

.skills-p {
    color: #ada28c;
    font-style: italic;
    line-height: 35px;
    margin-right: 30px;
    font-size: 18px;
    font-family: Merriweather, serif;
    margin-top: 15px;
    text-align: left
}

ul {
    list-style: none
}

.skills-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700
}

.skills-h3 a {
    color: #ededef;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out
}

.skills-h3 a:hover {
    color: #ada28c;
    right: 0;
    text-decoration: none
}

.skills-h3 a:hover:after {
    border-color: #ada28c;
    right: 0
}

.skills-h3 a:after {
    border-radius: 1em;
    border-top: .1em solid #ededef;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1), border-color .4s ease-out
}

.skills-h3 a:hover:after {
    right: 0
}

.fa-angle-double-down {
    color: #6a6a6a;
    cursor: pointer
}

.projects {
    background-size: cover;
    background-position: center;
    border: #cec2c2 16px solid;
    min-height: 85vh
}

.img-container {
    position: relative;
    width: 100%
}

.port-img {
    display: block;
    width: 100%;
    height: auto
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #494c4e
}

.img-container:hover .overlay {
    opacity: .8
}

.img-container:hover .overlay-text {
    opacity: 1
}

p.project-text {
    line-height: 2em;
    font-size: 1em;
    margin-top: 20px;
    font-weight: 400
}

.overlay-text {
    color: #f8f5f5;
    opacity: 0;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 4px solid rgba(247, 242, 242, .6);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 20px 10px;
    transition: .5s ease;
    font-family: helvetica;
    font-weight: 700;
    text-transform: uppercase
}

.gallery-nav {
    border-bottom: solid 1px #707070;
    padding: 50px 0 30px
}

ul.gallery_icons li a:hover {
    text-decoration: none
}

ul.gallery_icons li a {
    color: #707070 !important;
    margin: 0 15px
}

.slide-i {
    color: #000
}

.gallery_icons>li {
    display: inline
}

.project-title {
    font-size: 2em;
    font-weight: 700
}

.vim-player {
    margin-top: 15px
}

a.custom-btn-1 {
    color: #6e6b6b;
    border: solid 2px #6e6b6b;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: .8em;
    line-height: 1.5
}

a.custom-btn-1:hover {
    background-color: #ada28c;
    border-color: #ada28c
}

a.custom-btn-1:focus {
    background-color: transparent !important;
    color: #6e6b6b;
    border-color: #6e6b6b
}

.bob img {
    width: 1000px;
    height: 550px
}

body.contact {
    background-color: #efeded
}

.contact-label {
    font-weight: 700;
    font-size: 16px;
    text-align: center
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-float:active,
.hvr-float:focus,
.hvr-float:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

ul.social-ftr {
    padding-inline-start: 0
}

footer {
    background-color: #000;
    height: 15vh;
    line-height: 13vh;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center
}

.ftr-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #e3dada
}

.name-txt {
    font-weight: 600;
    color: #a69b85
}

.social {
    color: #a69b85;
    margin: 0 10px
}

.social:hover {
    color: #e3dada
}

.name-txt {
    font-weight: 600;
    color: #a69b85
}

.social {
    color: #a69b85;
    font-size: 30px !important
}

.svg-inline--fa {
    font-size: 30px !important
}

.opening {
    animation-duration: 3s
}

.contact-title {
    animation-duration: .8s
}

.tn1 {
    animation-duration: 1s
}

.tn2 {
    animation-duration: 1.1s
}

.tn3 {
    animation-duration: 1.2s
}

.tn4 {
    animation-duration: 1.3s
}

.tn5 {
    animation-duration: 1.4s
}

.tn6 {
    animation-duration: 1.5s
}

.tn6 {
    animation-duration: 1.6s
}

@-webkit-keyframes slide-tr {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0)
    }

    100% {
        -webkit-transform: translateY(-100px) translateX(100px);
        transform: translateY(-100px) translateX(100px)
    }
}

@keyframes slide-tr {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0)
    }

    100% {
        -webkit-transform: translateY(-100px) translateX(100px);
        transform: translateY(-100px) translateX(100px)
    }
}

@media (min-width:1200px) {
    .inner-container {
        max-width: 960px
    }
}

@media (max-width:1200px) {
    .about-content p {
        max-width: none
    }

    .home,
    .projects {
        border: none;
        background: linear-gradient(to bottom, rgba(227, 218, 218, .6), rgba(255, 255, 255, .6) 100%)
    }

    p.abt-text {
        line-height: 2.2em;
        color: #4d4c4c;
        font-weight: bolder
    }

    .home-container {
        padding-top: 10vh
    }

    .home-container .row .col-lg-6:first-child {
        padding-right: 15px
    }
}

@media (max-width:991px) {
    .skills-title {
        padding-bottom: 10px
    }

    .skills-p {
        margin-right: 0
    }

    .row .canvas-col {
        text-align: center;
        padding: 5vh 0
    }

    .text-right {
        text-align: center !important
    }
}

@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :portrait) {
    .home-container {
        padding: 10vh 0
    }
}

@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape) {
    .home-container {
        padding: 20vh 0
    }

    .inner-container {
        max-width: 720px
    }
}

@media (max-width:767px) {
    header {
        width: 93%;
        margin: auto;
        min-height: 10vh;
        height: auto !important
    }

    .navbar {
        display: inline;
        padding: 0
    }

    .navbar-toggler-icon {
        background-image: none !important
    }

    .navbar-light .navbar-toggler,
    .navbar-toggler {
        font-family: 'Open Sans', sans-serif;
        color: #6a6a6a;
        font-weight: 300;
        font-size: 16px;
        padding-right: 32px;
        text-transform: uppercase;
        margin-top: 35px;
        padding-top: 12px;
        background-color: transparent;
        border: #6a6a6a solid 1px;
        border-radius: 10px;
        width: 78px;
        height: 42px;
        float: right
    }

    .navbar-toggler:focus {
        outline: 1px none #6a6a6a
    }

    .main-nav {
        float: none;
        padding-top: 20px
    }

    .main-nav li {
        margin-bottom: 20px;
        font-size: 15px;
        float: none
    }

    p.abt-text {
        font-size: 1em;
        color: #370256
    }

    .skills-container {
        padding-right: 30px;
        padding-left: 30px
    }

    .skills-title {
        padding-top: 30px;
        font-size: 2.7em
    }

    .skills-h3 {
        padding-top: 15px
    }

    .skills-p {
        font-size: 1em
    }

    .contact-title {
        margin-top: 0
    }
}

@media screen and (min-device-width:1200px) and (max-device-width:1600px) and (-webkit-min-device-pixel-ratio:1) {
    .projects-container {
        min-height: 80vh;
        margin-bottom: 100px
    }
}

@media screen and (min-device-width:1200px) and (max-device-width:1600px) and (-webkit-min-device-pixel-ratio:2) and (min-resolution:192dpi) {
    .projects-container {
        min-height: 80vh;
        margin-bottom: 100px
    }
}

@media screen and (max-width:576px) {

    h1.abt-title,
    h1.contact-title,
    h1.project-title {
        font-size: 2em
    }

    .img-container {
        width: 80%;
        margin: auto
    }

    .project-title {
        font-size: 1.5em;
        padding-top: 7px
    }

    .gallery-nav {
        padding: 0 0 50px 0
    }

    ul.gallery_icons {
        margin-top: 10px
    }
}

@media screen and (max-width:450px) {
    .logo {
        width: 145px;
        height: 80px;
        width: 145px;
        height: 80px;
        margin-top: 10px
    }

    h1.abt-title {
        line-height: 1.4em
    }

    h1.abt-title,
    h1.contact-title,
    h1.project-title {
        font-size: 1.5em
    }

    ul.gallery_icons {
        margin-top: 8px
    }

    .svg-inline--fa {
        font-size: 20px !important
    }

    .home-container .row .col-lg-6:first-child {
        padding: 0 10px
    }

    .home-container .row .col-lg-6:nth-child(2) {
        padding: 0 0
    }

    #splash-video {
        max-width: 75vw
    }

    .ftr-text {
        font-size: 1em
    }
}

@media screen and (max-width:385px) {

    h1.abt-title,
    h1.contact-title,
    h1.project-title {
        font-size: 1em
    }
}